html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --light-blue: #4DAEA9;
  --brown: #573F35;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-80: rgba(255, 255, 255, 0.8);
}
