.container {
    width: 100%;
}

.header {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-image: linear-gradient(
            white 10%,
            rgba(255, 255, 255, 0.6) 80%,
            transparent
    );
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    padding: 24px;
    gap: 8px;
    flex-direction: column;
    border-top: 1px solid var(--brown);
    justify-content: center;
    align-items: center;
    color: var(--light-blue);
    background-color: var(--white-80);
}

.title {
    font-size: 48px;
    color: var(--light-blue);
    margin: 0;
}

.sectionHeader {
    font-size: 32px;
    color: var(--light-blue);
    margin: 0;
}

.description {
    text-align: center;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
}

.menu {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--brown);
    color: var(--brown);
    border-radius: 10px;
    background-color: var(--white-50);
    gap:16px;
}

.card *{
    margin: 0;
}

.logo {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 128px;
    max-width: 128px;
    min-height: 64px;
    min-width: 64px;
    margin-left: 0.5rem;
}

.flexRow {
    text-decoration: none;
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--light-blue);
}
