.container {
    width: 100%;
}

.header {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
    border-top: 1px solid var(--brown);
    justify-content: center;
    align-items: center;
    color: var(--light-blue);
    width: 100%;
    background-color: var(--white-80);
}

.title {
    font-size: 48px;
    color: var(--light-blue);
    margin: 0;
}

.sectionHeader {
    font-size: 32px;
    color: var(--light-blue);
    margin: 0;
}

.description {
    text-align: center;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
}

.menu {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--brown);
    color: var(--brown);
    border-radius: 10px;
    background-color: var(--white-80);
    gap: 4px;
    justify-content: space-between;
}

.section {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .grid {
        gap: 8px;
    }
    .socialMediaContainer {
        flex-direction: column;
    }

    .footer{
        padding: 16px;
        gap: 16px;
    }
}

.map {
    border: 0;
}

.price {
    text-align: end;
    font-size: 20px;

}

.card * {
    margin: 0;
}

.logo {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 128px;
    max-width: 128px;
    min-height: 64px;
    min-width: 64px;
    margin-left: 0.5rem;
}

.flexRow,
.itemTitle,
.socialMedia {
    text-decoration: none;
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

.flexRow,
.socialMedia {
    color: var(--light-blue)
}

.socialMedia {
    justify-content: center;
    width: fit-content;
}

.flexRow,
.itemTitle {
    justify-content: space-between;
}

.flexRow {
    color: var(--light-blue)
}

.glutenFreeLogo {
    height: 32px;
    width: 32px;
}

.footerTitle {
    font-size: 24px;
}

.socialMediaContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}
